{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="container d-flex justify-content-center mt-5 pb-3">
    <form method="post" class="col-md-6 p-3 text-white px-4" style="background-color:rgba(31, 41, 55); border-radius: 16px;">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
            </div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal text-center">Connexion</h1>
        <label for="inputUsername">Nom d'utilisateur</label>
        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
        <label for="inputPassword">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

        <div class="text-center mt-3">
            <span>Pas encore inscrit ?
                <a href="{{path('app_register')}}">Inscrivez-vous !</a>
            </span>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        
        <div class="d-flex justify-content-center">
            <button class="btn btn-lg rounded-pill mt-3" type="submit" style="color:#d1d5db; background-color: #6d28d9;">
                Connexion
            </button>
        </div>
    </form>
</div>
{% endblock %}
