{% extends 'base.html.twig' %}
{% block title %}
	{{ parent() }}
	Classement
{% endblock %}

{% block body %}

	{# Container de la page contenant le classement des joueurs #}
	<div class="container mt-5 mb-5">
		<div class="p-3 mt-2 h-100" style="background-color:rgba(31, 41, 55); border-radius: 16px;">
			<h3 class="text-center text-white mb-3">Classement des joueurs</h3>
			<div class="container-fluid d-flex text-center text-white">
				<div class="col-md-3">Nom du joueur</div>
				<div class="col-md-3">Victoire</div>
				<div class="col-md-3">Défaite</div>
				<div class="col-md-3">Rang (points)</div>
			</div>
			<hr>
			{% for joueur in joueurs %}
				<div class="container-fluid d-flex text-center text-white">
					<div class="col-md-3">{{ joueur.username }}</div>
					<div class="col-md-3">{{ joueur.nbVictoire }}</div>
					<div class="col-md-3">{{ joueur.nbDefaite }}</div>
					<div class="col-md-3"><span style="color:{{ joueur.rang.couleur }};">{{ joueur.rang.libelle }}</span>
							<img class="img-fluid mx-auto" src="images/rangs/{{ joueur.rang.miniLogo }}"/> ( {{ joueur.pointsRang }} )</div>
				</div>
				<hr>
			{% endfor %}
		</div>
	</div>
</div>{% endblock %}
